@keyframes logoUps {
	0%{
		transform: translateY(100%);
		opacity: 0;
	}
	25%{
		transform: translateY(0%);
		opacity: 0.3;
	}
	50%{
		transform: translateX(25%);
		opacity: 0.6;
	}
	100%{
		transform: translateX(0%);
		opacity: 1;
	}
}

@keyframes promoImDel {
	0%{
		transform: translateX(100%);
		opacity: 0.5;
	}
	100%{
		transform: translateX(0%);
		opacity: 1;

	}
}

@keyframes touchAnVase {
	0%{
		transform: translateY(-400px);
	}
	25%{
		transform: translateY(0%);
	}
	50%{
		transform: scale(1.2);
	}
	100%{
	}

}
